doctype html
head
  meta(charset='UTF-8')
  title Resume/CV Design
  link(rel='stylesheet' href='/stylesheets/styles.css')
  script(src='https://kit.fontawesome.com/b99e675b6e.js')
.resume
  .resume_left
    .resume_profile
      img(src='/images/van-le.jpg' alt='profile_pic')
    .resume_content
      .resume_item.resume_info
        .title
          p.bold VAN LE
          p.regular Website Developer
        ul
          li
            .icon
              i.fas.fa-map-signs
            .data
              | District 3 
              br
              |  Ho Chi Minh city
          li
            .icon
              i.fas.fa-mobile-alt
            .data
              | +8432 897 1812
          li
            .icon
              i.fas.fa-envelope
            .data
              a.link-non-decor(href='mailto::yamatole312@gmail.com') yamatole312@gmail.com
          //
            <li>
            <div class="icon">
            <i class="fab fa-weebly"></i>
            </div>
            <div class="data">
            https://www.linkedin.com/in/le-van-1a00ab123/
            </div>
            </li>
      .resume_item.resume_skills
        .title
          p.bold skill&apos;s
        ul
          li
            .skill_name
              | .NET Core
            .skill_progress
              span(style='width: 70%;')
            .skill_per 70%
          li
            .skill_name
              | Angular
            .skill_progress
              span(style='width: 85%;')
            .skill_per 85%
          li
            .skill_name
              | Entity Framework
            .skill_progress
              span(style='width: 80%;')
            .skill_per 80%
          li
            .skill_name
              | English
            .skill_progress
              span(style='width: 80%;')
            .skill_per 80%
      .resume_item.resume_social
        .title
          p.bold Social
        ul
          li
            .icon
              i.fab.fa-facebook-square
            .data
              p.semi-bold Facebook
              p
                a.link-non-decor(href='https://www.facebook.com/vanvanlele96') My Facebook
          li
            .icon
              i.fab.fa-linkedin
            .data
              p.semi-bold Linkedin
              p
                a.link-non-decor(href='https://www.linkedin.com/in/le-van-1a00ab123/') My Linkedin
  .resume_right
    .resume_item.resume_about
      .title
        p.bold Objective
      p.make-list
        | Hi, I&apos;m a website developer with Bachelor of Information and Technology degree in making website development and 
        strong 2+ years of experience in FullStack developer.
      p.make-list I&apos;m excellent in contributing more valueable to your business.
      p.make-list
        | Deadline-driven and knowledgeable professional with strong desire to learn and contribute to team success.
      p.make-list
        | Successful at improving usability, performance and functionality by applying skills in
        strong .NET Core
        |  and 
        strong Angular Framework.
      p.make-list
        | Collaborative and hardworking team player with critical thinking skills and systematic approach.
    .resume_item.resume_work
      .title
        p.bold Work Experience
      ul
        li
          .date 2019 - now
          .info
            p.semi-bold Camino Information Services.
            p.make-list
              | Working for 
              strong Hospital web app.
            p.make-list
              | Planned website development, converting mockups into usable and valueable web presence with the basis of Angular Framework and .NET Core.
            p.make-list Technical stack: Entity Framework, .NET Core, Angular
        li
          .date 2018 - 2019
          .info
            p.semi-bold TMA Solutions.
            p.make-list
              | Working for 
              strong Brightstar web app
              |  which is a eCommerce web app
            p.make-list Technical stack: Stored Procedure, .NET MVC, jQuery
    .resume_item.resume_education
      .title
        p.bold Education
      ul
        li
          .date 2014 - 2018
          .info
            p.semi-bold Bachelor of Information and Technology : Software Development
            p
              | Graduated at 
              strong Saigon University
    .resume_item.resume_hobby
      .title
        p.bold Hobby
      ul
        li
          i.fas.fa-book
        li
          i.fas.fa-dumbbell
        li
          i.fas.fa-music
        li
          i.fas.fa-laptop-code
